-#= form_tag url_for(:only_path => false, :overwrite_params=>nil), method:'get', id: "items_search", remote: true do

-#  = submit_tag "Search", name: nil
| Поиск &nbsp;
input id="search-field" name="search-field" type="text" role="textbox" 

