= hidden_field_tag :direction, params[:direction]
= hidden_field_tag :sort, params[:sort]
= hidden_field_tag :page, params[:page]
= hidden_field_tag :editable, params[:editable]



#data-table
	= render 'groups/table'

/=table_flexible @groups