<!DOCTYPE HTML>
<html>
    <head>
        <%= include_gon %>
        <title>Автоматизированная подсистема мониторинга. Национальная система химической и биологической безопасности Российской Федерации</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="/static/compile/css/master.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <style type="text/css" id="in-svg-css">
            path { -webkit-transition: all 0.3s linear; } 
            text { -webkit-transition: all 1.3s linear; font-family: Verdana, Times, serif; font-weight: normal; font-size: 30px; text-shadow: 0px 0px 20px #000000; } 
            .zoom2 { font-size: 32px; } 
            .zoom3 { font-size: 25px;} 
            .regions { font-size: 20px !important; }
        </style>
        <div id="app">
            <!-- Панель управления начало -->
            <div id="miniMap">
                <a>Центральный <br />федеральный округ</a>
            </div>
            <div id="panels">
                <header class="nav-elements">
                    <a href="#"></a>
                    <p>Автоматизированная подсистема мониторинга <br />Национальная система химической и биологической безопасности Российской Федерации</p>
                    <h1>Российская Федерация</h1>
                </header>
                <div id="content">
                    <div class="time nav-elements">
                        <b><span id="hour">16</span>:<span id="minute">40</span></b>
                        <p><span id="day">04</span> <span id="month">апреля</span> <span id="age">2013</span></p>
                    </div>
                    <div class="nav nav-elements" id="footer-nav-widget">
                    </div>
                    <div class="legend" id="legend-widget">
                        <p>н/д</p>
                        <p>0-7</p>
                        <p>8-15</p>
                        <p>16-20</p>
                        <a id="map-color-toggler">показать <br />значения</a>
                    </div>
                    <div class="legend" id="regions-legend-widget" >
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <a id="regions-map-color-toggler">показать <br />значения</a>
                    </div>
                    <div id="map-params">
                        <div class="show nav-elements" id="paramers-show"></div>
                        <div class="data" id="parametrs-widget">
                            <a href="#" class="hidden"></a>
                            <h3>&nbsp;</h3>
                            <p id="param-info">&nbsp;</p>
                            <input type="text" class="search" id="params-filter" placeholder="Поиск" />
                            <select class="year" id="age_select"></select>
                            <section class="scroll" id="parametrs-list"></section>
                        </div>
                    </div> 
                    <div id="events-params" class="hidden">
                        <div class="show nav-elements" id="events-paramers-show"></div>
                        <div class="data" id="events-parametrs-widget">
                            <a href="#" class="hidden"></a>
                            <div class="inner_table">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Дата</th>
                                            <th>Событие</th>
                                            <th>Регион</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>20.03.2013</td>
                                            <td>Вспышка ящура</td>
                                            <td>Центральный федеральный округ</td>
                                        </tr>
                                        <tr>
                                            <td>20.03.2013</td>
                                            <td>Превышен допустимый порог по гриппу</td>
                                            <td>Южный федеральный округ</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="events-legend" class="hidden">
                        <p class="yellow">1</p>
                        <p class="red">1</p>
                    </div>
                    <div id="regions-params" class="hidden">
                        <div class="show nav-elements" id="regions-paramers-show"></div>
                        <div class="data" id="regions-parametrs-widget">
                            <a href="#" class="hidden"></a>
                            <h3>&nbsp;</h3>
                            <p id="regions-param-info">&nbsp;</p>
                            <input type="text" class="search" id="regions-params-filter" placeholder="Поиск" />
                            <select class="year" id="regions_age_select"></select>
                            <section class="scroll" id="regions-parametrs-list"></section>
                        </div>
                    </div>
                    <div id="load">
                        <p class="text" id="loading"></p>
                        <img src="/static/images/load.png" id="load-image" alt="" />
                    </div>
                    <div id="regions-selector" class="hidden">
                        <a href="#" class="show-f reg" id="regions-nav-show"></a>
                        <div class="data region hidden" id="region-data">
                            <a href="#" class="hidden" id="region-data-hidden"></a>
                            <input type="text" class="search" placeholder="Поиск" id="region-selector-filter" />
                            <section class="scroll" id="region-data-place"></section>
                        </div>
                    </div>
                    <div class="table hidden" id="format-data">
                        <div id="table-format">
                            <table>
                                <col width="320px" />
                                <col width="550px" />
                                <col width="70px" />
                                <col width="100px" />
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="hidden" id="graph-content">
                        <div id="graph-panel"></div>
                        <div id="graph-datas">
                            <label for="">C</label>
                            <select class="year" id="graph-datas-begin"></select>
                            <label for="">По</label>
                            <select class="year" id="graph-datas-end"></select>
                            <ul class="buttoms">
                                <li class="graph_button current">График</li>
                                <li class="legend_button">Легенда</li>
                            </ul>
                        </div>
                    </div>
                    <div class="hidden" id="event-content">
                        <img src="/static/images/pic1.png" style="display: block; margin-left: 30px; margin-top: 60px;" />
                    </div>
                    <div id="params-selector" class="hidden">
                        <a href="#" class="show-f" id="params-nav-show"></a>
                        <div class="data f hidden" id="params-data">
                            <a href="#" class="hidden" id="params-data-hidden"></a>
                            <h3>&nbsp;</h3>
                            <input type="text" class="search" placeholder="Поиск" />
                            <select class="year" id="params-age-selected"></select>
                            <section class="scroll" id="params-data-place"></section>
                        </div>
                    </div>
                    <div id="graph-selector" class="hidden">
                        <a href="#" class="show-f" id="graph-nav-show"></a>
                        <div class="data g hidden" id="graph-data">
                            <a href="#" class="hidden" id="graph-data-hidden"></a>
                            <h3>&nbsp;</h3>
                            <input type="text" class="search" placeholder="Поиск" />
                            <section class="scroll" id="graph-data-place"></section>
                        </div>
                    </div>
                    <div id="graph-regions-selector" class="hidden">
                        <a href="#" class="show-f reg" id="graph-regions-nav-show"></a>
                        <div class="data region hidden" id="graph-region-data">
                            <a href="#" class="hidden" id="graph-region-data-hidden"></a>
                            <input type="text" class="search" placeholder="Поиск" id="graph-region-selector-filter" />
                            <section class="scroll" id="graph-region-data-place"></section>
                        </div>
                    </div>
                    <div id="regions-left-camera"></div>
                    <div id="regions-right-camera"></div>
                </div>
            </div>
            <!-- Панель управления конец -->
            
            <div id="bg-colored-image"></div>
            <div id="bg-image"></div>
            <div id="bg-events" class="onHidden"></div>
            <div id="bg-regions-image"></div>
            <div id="bg-event-image" class="onHidden"></div>
            <div id="bg-svg">
                <object id="svg" type="image/svg+xml" data="" width="100%" height="100%"></object>
            </div>
            <div id="bg-video">
                <video id="video" type="video/mp4" class="video"  preload="auto" width="1920" height="1080" ></video>
            </div>
        </div>

        <script type="text/javascript" src="/static/compile/js/jquery-2.0.0.min.js"></script>
        <script type="text/javascript" src="/static/compile/js/jquery-migrate-1.1.1.min.js"></script>
        <script type="text/javascript" src="/static/compile/js/jquery.selectbox-0.2.min.js"></script>
        <script type="text/javascript" src="/static/compile/js/jquery.mousewheel.js"></script>
        <script type="text/javascript" src="/static/compile/js/mwheelIntent.js"></script>
        <script type="text/javascript" src="/static/compile/js/jquery.jscrollpane.min.js"></script>
        <script type="text/javascript" src="/static/compile/js/jquery.flot.min.js"></script>
        <script type="text/javascript" src="/static/compile/js/jquery.flot.time.min.js"></script>
        
        <script type="text/javascript" src="/static/compile/js/signals.min.js"></script>
        <script type="text/javascript" src="/static/compile/js/events.factory.js"></script>
        <script type="text/javascript" src="/static/compile/js/cache.js"></script>
        <script type="text/javascript" src="/static/compile/js/events.js"></script>
        <script type="text/javascript" src="/static/compile/js/widgets.js"></script>
        <script type="text/javascript" src="/static/compile/js/managers.js"></script>
        <script type="text/javascript" src="/static/compile/js/api.js"></script>
        <script type="text/javascript" src="/static/compile/js/config.js"></script>
        <script type="text/javascript" src="/static/compile/js/main.js"></script>
    </body>
</html>
